body {background-color: lightblue;font-family: 'Poppins', sans-serif;}

.image1 {height: 400px; float: left; padding-right: 20px;}
.image2 {height: 150px; }
.menu {display: inline-block; padding: 20px 40px; background-color: #333333; color: white;}
.left {float: left; width: 29%; }

.topleft {background-color: lightyellow; border: 1px solid blue; height: 200px; padding: 50px 10px; margin: 0; text-align: center;}
.bottomleft {background-color: rgb(238, 188, 131); padding: 20px; height: 500px;}

.right {float: right; width: 70%;}
.status {padding: 15px 0px;}
.status2{padding: 10px 0px 25px;}
.bio {height:400px; border: 1px solid red;};}
.pics {height: 500px; padding: 200px 0px; text-align: center;}
.pic {display: inline-block; height: 200px;margin:35px;}
.heading2 {text-align: center;}